Holotoolkit/
Holotoolkit-Examples/
Holotoolkit-Examples.meta
External.meta
External/
WSATestCertificate.pfx
WSATestCertificate.pfx.meta
UWP/
Temp/
/.vs/
.vs/
Library/
 *.csproj
Holoboard.csproj
Holoboard.Editor.csproj